#container {
    width: 500px;
    margin: 20px auto;
}

.box {
    width: 100px;
    height: 100px;
    float: left;
    margin: 50px;
}

#box1 {
    background-color: #8f06b0;
    border: 1px solid transparent;
    animation-name: shape; /* 실행할 구문 아래 정의 */
    animation-duration: 3s;
    animation-iteration-count: infinite; /* 애니메이션 무한 반복 */
}

#box2 {
    background-color: #4cff00;
    border: 1px solid transparent; /* 1px짜리 투명한 테두리 */
    animation-name: rotate; /* 실행할 구문 아래 정의 */
    animation-duration: 3s;
    animation-iteration-count: infinite; /* 애니메이션 무한 반복 */
}

@keyframes shape {
    from {
        border: 1px solid transparent;
    }
    to {
        border: 1px solid #000;
        border-radius: 50%;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(450deg);
    }
}