#container {
    width: 1000px;
    margin: 20px auto;
}

h1 {
    text-align: center;
}

.prod-list {
    list-style: none;
    padding: 0;
}

.prod-list li {
    float: left;
    padding: 0;
    margin: 10px;
    overflow: hidden;
    position: relative;
}

.prod-list img {
    margin: 0;
    padding: 0;
    float: left;
    z-index: 5;
}

.prod-list .caption {
    position: absolute;
    top: 200px; /* 기준위치에서 200px 아래로 */
    width: 300px;
    height: 200px;
    padding-top: 20px;
    background: rgba(0,0,0,0.6); /* 반투명한 검정배경 */
    opacity: 0; /* 화면에 보이지 않게 */
    transition: all 0.6s ease-in-out;
}

.prod-list li:hover .caption {
    opacity: 1; /* 설명글이 화면에 보이게 됨 */
    transform: translateY(-200px); /* 설명글이 위로 200px 이동하게 */
}

.prod-list .caption h2, .prod-list .caption p {
    color: #fff;
    text-align: center;
}