.box {
    margin: 50px auto;
    width: 100px;
    height: 100px;
    background-color: #fb5;
    border: 1px solid #222;
    transition: 2s ease-in;
}

.box:hover {
    width: 200px;
    height: 200px;
    background-color: #f50;
    transform: rotate(270deg);
}